<header>
    <table align = "center" border = "0" width = "90%" height = "10%" bgcolor = "#2874F0">

    <tr>
        <td align = "center"><img src = "image/logo.png"></td>
        <th style = "font-size:30px;">Promotional Gear</th>
        <td align = "center">
             <div class = "search-box">
        <form>
            <input type="text" placeholder=" Search more information in site" name = "search" class ="search-input"/>
            <button type = "submit"><img src="image/cart.svg"></button>
        </form>
            </div>
     </td>
        <th align = "center"><a href="/" class = "header-option">Home</a></th>
        <th align = "center"><a href="/FAQ" class = "header-option">FAQ</a></th>
        <th align = "center"><a href="/Contact" class = "header-option">Contact us</a></th>
        {{#if admin}}
        <th align = "center"><a href="/viewSettings" class = "header-option">Settings</a></th>
        {{/if}}
</table> 
</header>