body{
    margin : 0;
    font-family: system-ui;
}

.page-title{
    background: rgba(0,0,0,0.5);
    text-align: center;
    color:white;
    padding:40px;
    font-size: 50px;
}

.header-option{
    text-decoration:none;
    color:white;
}
/* .search-box{
    border:1px solid white;
    border-radius: 50px;
    background: white;
    width:max-content;
    display: inline-block;
    margin:8px;
    width: 90%;
}

.search-box:hover{
    box-shadow:0 0 10px 2px #f5f234;
    border:1px solid #f5f234;
} */

/* .search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background:transparent;
    margin:15px 0 0 10px;
} */
/* .search-input input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
} */
.wrapper{
    max-width: 450px;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor:default;
    border-radius: 3px;
    display: none;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}
i{
    font-size:20px;
    margin: 0 10px 0 0 ;
}

button{
    background:transparent;
    border:none;
    outline:none;
}

.container{
    margin:50px 50px 50px 5%;
    width:90%;
    text-align:center;
}
.categories{
    width:max-content;
    margin:-30px;
    border:1px solid #06cfb8;
    border-radius: 45px 45px 45px 45px;
    display: inline-block;
}

.categories:hover{
    box-shadow: 0 0 10px 3px #184d47;
}

.item-image{
    height: 200px;
    width: 200px;
    padding: 15px;
}

.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}

/* middle */
.sub-slogan strong{
    font-size:1.2rem;
    letter-spacing: 1px;
    color:black;
    text-transform:uppercase;
    font-weight: 600px;
    margin-top:40px;
    padding:5px 30px;
    border:1px solid white;
}
.sub-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.sub-slogan strong{
    color: white;
    background-color: black;
    font-weight: 500;
}

.middle-part-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:15px;
}

.middle-part-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.middle-part-text{
    display: flex;
    flex-direction: column;
    margin-right: 21px;
}
.middle-part-text strong{
    color:white;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.middle-part-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}
.middle-part-button{
    width: 170px;
    height:40px;
    display: flex;
    justify-content:center;
    align-items: center ;
    color: white;
    background-color: #14a6d3;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 34px;
    margin-right: -47px;
}
