<script src = "/js/jacketsForm.js"></script>
<form class ="ml-5 mt-5" action="/addProduct" method="post" enctype="multipart/form-data" id = "jacketsForm" >
      <div class="form-group">
        <label for="exampleFormControlInput1">Product Name</label>
        <input type="text" class="form-control" style = "width: 800px" name ="name" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" name = "description" style = "width: 800px" rows="3"></textarea>
        </div>
    
   <div id = "rows-div">
   <div class="form-row">
    <div class="form-group col-md-2">
        <label>Gender</label>
        <select class="form-control">
          <option>Male</option>
          <option>Female</option>
          <option>Unisex</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Size</label>
        <select class="form-control">
            <option>XS</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Color</label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group col-md-2">
        <label>Location</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-1">
        <label>Count</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label>Image</label>
        <input type="file" name="image1" />
      </div>
  </div>
  </div>

  <div id = "lastDiv">
    <button type="button" class="btn btn-primary" id = "addJacketBtn">Add another type of jacket</button>
      <button type="button" class="btn btn-primary" id = "deleteJacketBtn">Delete Row</button>
    <input type="submit" value="Upload"/>
  </div>
  </form>