<br>
<a href="/home" style = "margin-left:20px; font-size:20px;text-decoration:underline">Go back to home page</a>
<div class="contact-container">
    <img src="/image/contact.png" style = "width:280px;height:280px;margin:50px 0 0 10px">
    <div class="contact-navigation">
        <ul>
            <br><br>
            <li id="list-1">
                <a onclick="get_option(1);">
                    <span class="contact-title2">Vancouver</span>
                </a>
            </li>
            <br>
            <li id="list-2">
                <a onclick="get_option(2);">
                    <span class="contact-title2">Kamloops</span>
                </a>
            </li>
            <br>
            <li id="list-3">
                <a onclick="get_option(3);">
                    <span class="contact-title2">Calgary</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(4);">
                    <span class="contact-title2">Edmonton</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(5);">
                    <span class="contact-title2">Toronto</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(6);">
                    <span class="contact-title2">Halifax</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(7);">
                    <span class="contact-title2">Fredericton</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(8);">
                    <span class="contact-title2">Saint John</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(9);">
                    <span class="contact-title2">Denver</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(10);">
                    <span class="contact-title2">Montrose</span>
                </a>
            </li>
            <br>
            <li id="list-4">
                <a onclick="get_option(11);">
                    <span class="contact-title2">Santiago</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-1" id = "contact-1">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Vancouver)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 500 980 Howe Street Vancouver, BC Canada V6Z 0C8</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  604-684-5900</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  604-684-5909</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.81406793447!2d-123.12569654874157!3d49.27992027922963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673d5722529f7%3A0xa1de0b151c78af04!2s980%20Howe%20St%2C%20Vancouver%2C%20BC%20V6Z%200C8%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627802202503!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>

    <div class="page-1" id = "contact-2" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Kamloops)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  234 St. Paul Street Kamloops, BC Canada V2C 6G4</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  250-374-8600</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  250-374-8606</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10113.856459535118!2d-120.34457049960179!3d50.674209573713625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537e2c5495cb0437%3A0xd267be9bfc684872!2s234%20St%20Paul%20St%2C%20Kamloops%2C%20BC%20V2C%203L2%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627803897668!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>

    <div class="page-1" id = "contact-3" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Calgary)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 500 1000 Centre Street NE Calgary, AB Canada T2E 7W6</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  403-250-5185</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  403-250-5330</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.5713583453994!2d-114.06424078424631!3d51.06100207956417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537165592b1ff25f%3A0x20e9405fa0832528!2s1000%20Centre%20St%20N%2C%20Calgary%2C%20AB%20T2E%207W6%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627807209600!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-4" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Edmonton)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 200 8204 - 104 Street NW Edmonton, AB Canada T6E 4E6</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  780-466-0538</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  780-463-3815</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9488.82502122043!2d-113.50660799792362!3d53.51837318181123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a0220fe9cc7bcd%3A0xb1525c49b71688f!2s8204%20104%20St%20NW%2C%20Edmonton%2C%20AB%20T6E%204E6%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627806303357!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>

    <div class="page-1" id = "contact-5" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Toronto)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 600 372 Bay Street Toronto, ON Canada M5H 2W9</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  416-644-1216</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  416-649-0335</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11547.453162249138!2d-79.3901575034521!3d43.65101256757567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b35efd19a5a1b%3A0x15cc3fafb27c3279!2s600-372%20Bay%20St.%2C%20Toronto%2C%20ON%20M5H%202W9%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627806416033!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>

    <div class="page-1" id = "contact-6" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Halifax)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 630 1718 Argyle Street Halifax, NS Canada B3J 3N6</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  902-474-5925</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  902-474-5929</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.535755497956!2d-63.57734228446973!3d44.64740457909977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a23cd233a4f53%3A0xd196b87bd4a5e05!2s1718%20Argyle%20St%2C%20Halifax%2C%20NS%20B3J%203N6%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627807094036!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-7" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Fredericton)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  330 Alison Boulevard Fredericton, NB Canada E3C 0A9</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  506-460-8660</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  506-460-8679</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11102.93691054029!2d-66.63911370225806!3d45.91662326737719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca4219dcc760639%3A0xc1607bde210ae0c5!2s330%20Alison%20Blvd%2C%20Fredericton%2C%20NB%20E3C%200A9%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627806585501!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-8" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Saint John)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  560 Main Street Suite 240 Saint John, NB Canada E2K 1J5</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  506-717-0012</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  None</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11230.47398417804!2d-66.08024470260064!3d45.275722167222256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca7b36170a4238d%3A0x11f71ea2d02c6dd7!2s560%20Main%20St%2C%20Saint%20John%2C%20NB%20E2K%201J5%2C%20Canada!5e0!3m2!1sen!2sjp!4v1627806683399!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-9" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Denver)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Suite 211 701 - 12th Street Golden, Colorado USA, 80401</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  720-598-5982</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  None</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12269.118429515249!2d-105.22908820539098!3d39.755830172766935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b9ad2c519ed33%3A0x8f58f4f3497c5c59!2s701%2012th%20St%2C%20Golden%2C%20CO%2080401%2C%20USA!5e0!3m2!1sen!2sjp!4v1627806783110!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-10" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Montrose)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  447 East Main Street Montrose, Colorado USA 81401</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  970-615-8056</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  None</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12493.276903178239!2d-107.88472860599329!3d38.48027527578767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x873f5091ff223493%3A0xec4e46b1d39cbc16!2s447%20E%20Main%20St%2C%20Montrose%2C%20CO%2081401%2C%20USA!5e0!3m2!1sen!2sjp!4v1627806869336!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>


    <div class="page-1" id = "contact-11" style="display: none">
        <br>
        <h2 style="margin: 0px 0 0 170px">Contact Info Page (Santiago)</h2>
        <br>
        <h2 style="margin: 20px 0 0 50px; font-size:20px">Address:  Apoquindo 3039 Piso 10, Las Condes Santiago, MET, Chile</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Tel:  56-2-374-0090</h2>
        <h2 style="margin: 20px 0 0 50px;font-size:20px">Fax:  None</h2>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13320.881376247838!2d-70.60657140821742!3d-33.41749929403761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf1534813391%3A0x8ba23db2373cb4fe!2sAv.%20Apoquindo%203039%2C%20Piso%2010%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1sen!2sjp!4v1627806940867!5m2!1sen!2sjp"
        width="700" height="350" style="border:0; margin:10px 0 0 50px;" allowfullscreen="" loading="lazy"></iframe></p>
    </div>

</div>


<script>
    function toggleMenu() {
        let toggle = document.querySelector('.contact-toggle');
        let navigation = document.querySelector('.contact-navigation');
        let main = document.querySelector('.contact-main');
        toggle.classList.toggle('active');
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    };


    function get_option(obj) {
        var temp = "none";
        for (var i = 1; i < 12; i++) {
            if (i == obj)
                temp = "block";
            else
                temp = "none";
            document.getElementById("contact-" + i).style.display = temp;
        }
    }


</script>