<style>
.faq_question{
    font-size: 25px;
    margin-left: 180px;
    font-weight: 1000;
}
.sub_question{
    font-size: 25px;
    margin-left: 250px;
    font-weight: 1000;
}
.answer{
    margin-left: 80px;
    font-size: 20px;
    font-weight: 400;
}
</style>

<br><br>
<a href="/home" style = "margin-left:20px; font-size:20px;text-decoration:underline">Go back to home page</a>
<h1 style = "margin:30px 30px 30px 500px;"> Frequently Asked Questions</h1>
<br><br>
{{!-- Q1 --}}
<details >
    <summary class = "faq_question">What is this website about?</summary>
    <br>
    <div>
        <p class = "answer">This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        </p>
    </div>
</details>
<hr />

{{!-- Q2 --}}

<details>
    <summary class = "faq_question">After requested a order, what should do next?</summary>
     <br>
    <div>
        <p class = "answer">This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        </p>
    </div>
</details>
<hr />

{{!-- Q3 --}}

<details>
    <summary class = "faq_question">What about the preferential policy?</summary>
    <br>
    <div>
        <details>
            <summary class = "sub_question">For regular customer</summary>
             <br>
            <div>
                <p class = "answer">This is the answer, we need to have more details here!!
                   This is the answer, we need to have more details here!!
                </p>
            </div>
        </details>
        <hr />
        <details>
            <summary class = "sub_question">For BGC Employees</summary>
             <br>
            <div>
                <p class = "answer">This is the answer, we need to have more details here!!
                   This is the answer, we need to have more details here!!
                </p>
            </div>
        </details>
    </div>
</details>
<hr />
{{!-- Q4 --}}
<details >
    <summary class = "faq_question">When can I receive a replenishment notice?</summary>
    <br>
    <div>
        <p class = "answer">This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        This is the answer, we need to have more details here!!
        </p>
    </div>
</details>
<hr />