<div class = "guide-wrapper">
    <h1 style = "margin: 20px 0 0 400px;">Guideline</h1>
    <div class = "videowrapper">
        <iframe src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

