
<!--middle--->
<div class = "middle-part-box" style="background-image: url(./image/middle-side.png);">
    <div class = "middle-part-container">
        <div class = "middle-part-text">
            <span>What are <br>you waiting for?</span>
            <strong>Need help?</strong>
            <a href="/guideline" class = "middle-part-button">GuideLine</a>
            <a href="/shopAllProducts" class = "middle-part-button">Shop Now</a>
        </div>

    </div>

</div>

<section>
    <div class = "sub-slogan">
        <strong>Anything you like?</strong>
        <p>Pick an option!</p>

    </div>

</section>

<table border = "0" width = "100%" height = 20% bgcolor = "bisque">
    <tr>
        <th align = "center">
            <div class = "container">
                <a href="/shopAllProducts">
                    <div class = "categories">
                        <img src="image/all.jpg" class = "item-image">
                        <div class = "image-title">All categories</div>
                    </div>
                </a>
            </div>
        </th>
        <th align = "center">
            <div class = "container">
                <a href="/shopBackpacks">
                    <div class = "categories">
                        <img src="image/backpack.jpg" class = "item-image">
                        <div class = "image-title">Backpacks</div>
                    </div>
                </a>
            </div>
        </th>
        <th align = "center">
            <div class = "container">
                <a href="/shopBottles">
                    <div class = "categories">
                        <img src="image/bottle.jpg" class = "item-image">
                        <div class = "image-title">Bottles</div>
                    </div>
                </a>
            </div>
        </th>
        <th align = "center">
            <div class = "container">
                <a href="/shopShirts">
                    <div class = "categories">
                        <img src="image/clothing.jpg" class = "item-image">
                        <div class = "image-title">Shirts</div>
                    </div>
                </a>
            </div>
        </th>
    </tr>
</table>
