<div id="filters">
    <select name="category" id="">
        <option value="">Select by Category</option>
        <option value="Shirts">Shirts</option>
        <option value="Jacket">Jacket</option>
        <option value="Coat">Coat</option>
        <option value="Jeans">Jeans</option>
        <option value="Pants">Pants</option>
        <option value="Shoes">Shoes</option>
        <option value="Accessories">Accessories</option>
    </select>

    <select name="sortBy" id="">
        <option value="">Sort by</option>
        <option value="Shirts">New Arrivals</option>
        <option value="Jacket">Rating</option>
    </select>
</div>

{{!-- The shopping page item --}}
<table border = "0" width = "100%" height = "46%">
    <tr>
        <td colspan = "5"><h2>Backpack</h2><hr></td>
    </tr>
    <tr>
        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage1" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage1" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage1" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage1" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(1)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage1" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage1">
                    <img src="image/clothing.jpg" class="subImage subImage1">

                <div class="show-right" onclick="right_click(1)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage2" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage2" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage2" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage2" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(2)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage2" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage2">
                    <img src="image/clothing.jpg" class="subImage subImage2">

                <div class="show-right" onclick="right_click(2)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage3" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage3" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage3" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage3" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(3)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage3" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage3">
                    <img src="image/clothing.jpg" class="subImage subImage3">

                <div class="show-right" onclick="right_click(3)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage4" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage4" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage4" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage4" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(4)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage4" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage4">
                    <img src="image/clothing.jpg" class="subImage subImage4">

                <div class="show-right" onclick="right_click(4)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

    </tr>

    <tr>
        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage5" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage5" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage5" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage5" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(5)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage5" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage5">
                    <img src="image/clothing.jpg" class="subImage subImage5">

                <div class="show-right" onclick="right_click(5)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage6" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage6" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage6" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage6" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(6)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage6" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage6">
                    <img src="image/clothing.jpg" class="subImage subImage6">

                <div class="show-right" onclick="right_click(6)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage7" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage7" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage7" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage7" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(7)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage7" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage7">
                    <img src="image/clothing.jpg" class="subImage subImage7">

                <div class="show-right" onclick="right_click(7)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage8" style="opacity:1;">
                    <img src="image/bottle.jpg" class="mainImage mainImage8" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage8" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage8" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(8)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage8" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage8">
                    <img src="image/clothing.jpg" class="subImage subImage8">

                <div class="show-right" onclick="right_click(8)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

    </tr>
<br><br>


{{!-- Bottle --}}
    <tr>
        <td colspan = "5"><h2>Bottle</h2><hr></td>
    </tr>
    <tr>
        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage9" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage9" style="opacity:1;">
                    <img src="image/clothing.jpg" class="mainImage mainImage9" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage9" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(9)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage9" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage9">
                    <img src="image/clothing.jpg" class="subImage subImage9">

                <div class="show-right" onclick="right_click(9)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage10" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage10" style="opacity:1;">
                    <img src="image/clothing.jpg" class="mainImage mainImage10" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage10" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(10)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage10" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage10">
                    <img src="image/clothing.jpg" class="subImage subImage10">

                <div class="show-right" onclick="right_click(10)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage11" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage11" style="opacity:1;">
                    <img src="image/clothing.jpg" class="mainImage mainImage11" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage11" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(11)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage11" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage11">
                    <img src="image/clothing.jpg" class="subImage subImage11">

                <div class="show-right" onclick="right_click(11)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage12" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage12" style="opacity:1;">
                    <img src="image/clothing.jpg" class="mainImage mainImage12" style="opacity:0;">
                    <img src="image/all.jpg" class="mainImage mainImage12" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(12)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage12" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage12">
                    <img src="image/clothing.jpg" class="subImage subImage12">

                <div class="show-right" onclick="right_click(12)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

    </tr>

{{!-- Clothing --}}

    <tr>
        <td colspan = "5"><h2>Clothing</h2><hr></td>
    </tr>
    <tr>
        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage13" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage13" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage13" style="opacity:1;">
                    <img src="image/all.jpg" class="mainImage mainImage13" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(13)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage13" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage13">
                    <img src="image/clothing.jpg" class="subImage subImage13">

                <div class="show-right" onclick="right_click(13)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage14" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage14" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage14" style="opacity:1;">
                    <img src="image/all.jpg" class="mainImage mainImage14" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(14)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage14" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage14">
                    <img src="image/clothing.jpg" class="subImage subImage14">

                <div class="show-right" onclick="right_click(14)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage15" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage15" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage15" style="opacity:1;">
                    <img src="image/all.jpg" class="mainImage mainImage15" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(15)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage15" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage15">
                    <img src="image/clothing.jpg" class="subImage subImage15">

                <div class="show-right" onclick="right_click(11)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

        <th>
            <div class = "product">
                <div class="showAllProduct">
                    <img src="image/backpack.jpg" class="mainImage mainImage16" style="opacity:0;">
                    <img src="image/bottle.jpg" class="mainImage mainImage16" style="opacity:0;">
                    <img src="image/clothing.jpg" class="mainImage mainImage16" style="opacity:1;">
                    <img src="image/all.jpg" class="mainImage mainImage16" style="opacity:0;">
                    <a class = "pop_button">Quick Look</a>
                    
                    <div class = "pop_window">
                         <div class = "pop_part">
                             <img class = "close" src="image/close.png">
                             <div class = "product-img">
                                <img src="image/backpack.jpg" alt="">
                            </div>
                        <div class = "info">
                            <h2>Backpack <br> <br><span>Men's sport</span></h2>
                             <p>this is the pargrah,this is the pargrah,this is the pargrah,this is the pargrah</p>
                            <a href="#" class = "add-cart-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="show-left" onclick="left_click(16)">&lt;</div>
                    <img src="image/backpack.jpg" class="subImage subImage16" style="margin-left: 30px;">
                    <img src="image/bottle.jpg" class="subImage subImage16">
                    <img src="image/clothing.jpg" class="subImage subImage16">

                <div class="show-right" onclick="right_click(16)">&gt;</div>
                    <h4 style="text-align:center">Product Name</h4>
                    <p style="text-align:center">Some Description Some Description Some Description Some Description Some Description Some Description</p>
                    <a class = "view-btn" href="/detail" >View Detail</a>
                </div> 
        </th>

    </tr>
</table>




<script type = "text/javascript">
var popupViews = document.querySelectorAll('.pop_window');
var popupBtns = document.querySelectorAll('.pop_button');
var closeBtns = document.querySelectorAll('.close');

var popup = function(popupClick){
    popupViews[popupClick].classList.add('active')
}

popupBtns.forEach((popupBtn , i)=> {
    popupBtn.addEventListener("click", ()=> {
        popup(i);
    });
});

closeBtns.forEach((closeBtn)=> {
    closeBtn.addEventListener("click", ()=> {
        popupViews.forEach((popupViews) => {
            popupViews.classList.remove('active');
        });
    });
});

</script>













