<form class ="ml-5 mt-5" action="/uploadPhotos" method="post" enctype="multipart/form-data" id = "uploadForm" >
    <input id = "files" type="file" name="productPhotos" required multiple />
    <input id = "uploadSubmit" type="submit" value="Upload"/>
</form>