


.box{
    margin-top: 100px;
    margin-left: 200px;
    width:640px;
    height:640px;
    position:relative;
}

.box-img{
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
}

.box-left{
    position:absolute;
    width:30px;
    height:70px;
    background-color: #00000050;
    color: #ccc;
    top:320px;
    border-radius:0 5px 5px 0;
    text-align:center;
    line-height:70px;
    font-size:27px;
}

.box-left:hover{
    background-color:#00000050;
    color:#fff;
}

.box-right{
    position:absolute;
    width:30px;
    height:70px;
    background-color: #00000050;
    color: #ccc;
    top:320px;
    border-radius: 5px 0 5px 0;
    text-align:center;
    line-height:70px;
    font-size:27px;
    right:0px;
}

.box-right:hover{
    background-color:#00000050;
    color:#fff;
}

#productIntroduction{
    width: 20%;
    border-radius: 25px;
    border-color: gray;
    border-style: solid;
    padding: 70px;
    position: relative;
    top: -550px;
    left: 1200px;
}

#add_to_cart{
    z-index : 1;
    color:white;
    background-color: #555;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding:10px 15px;
    border-radius: 50px;
}

#add_to_cart:hover {
    background-color: #555;
    color: grey;
}